[Desktop Entry]
Name=Martian
Comment=RGB controller for Mars Gaming MK-Revo Pro keyboard
Exec=martian tray
Icon=martian
Terminal=false
Type=Application
Categories=Utility;
