#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = martian

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:

override_dh_auto_build:
	dh_auto_build
	# Validate modes directory exists
	test -d martian/modes

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3

override_dh_install:
	dh_install
	# Install udev rules
	install -D -m 644 60-mkrevopro.rules $(CURDIR)/debian/martian/etc/udev/rules.d/60-mkrevopro.rules
	# Install desktop entry
	install -D -m 644 debian/martian.desktop $(CURDIR)/debian/martian/usr/share/applications/martian.desktop
